<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.dao.FZYMapper">
    <select id="AbnormalFindAllById" resultType="fzytest">
select a.seq_id, a.object_name,b.show_current_price,b.show_estimated_price,b.show_estimate,b.show_look,show_sign_up,pb_file_img_info.file_img_url
from pb_object_info a
LEFT JOIN pb_object_show b on a.show_id=b.show_id
LEFT JOIN pb_file_img_info on pb_file_img_info.img_id=a.img_id
where b.show_engineer_id=#{id}
    </select>
</mapper>
